.option-Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.disable {
  pointer-events: none;
}

.wrapper-option select {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  background-color: var(--body-color);
  box-shadow: -3px -3px 5px var(--white-color),
    3px 3px 5px hsla(var(--hue-color), 30%, 86%, 1),
    inset 3px 3px 5px hsla(var(--hue-color), 30%, 86%, 1),
    inset -3px -3px 5px var(--white-color);
  cursor: pointer;
}

select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

select option {
  display: block;
  background: var(--first-color);
  color: #fff;
}

.setAlarm-btn {
  width: 320px;
  margin-top: 30px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--first-color);
  cursor: pointer;
}

.play {
  background-color: orange;
  color: #000;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure popup is on top of other content */
  text-align: center;
}

.popup h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup form {
  margin-bottom: 20px;
}

.popup label {
  margin-right: 10px;
}

.popup input[type="radio"] {
  margin-right: 5px;
}

.popup button {
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.popup button:first-child {
  background-color: var(--first-color);
  color: #fff;
}

.popup button:last-child {
  background-color: #ccc;
  color: #000;
}

.popup .correct-answer {
  color: green;
  margin-top: 10px;
}

.popup .incorrect-answer {
  color: red;
  margin-top: 10px;
}
